@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

/*============================ font-family============================== */
.ff_kanit {
    font-family: "kanit";
}

.ff_Jost {
    font-family: "Jost";
}

.header_bg {
    background: url(/src/assets/Image/webp/HeaderBg.webp);
}

/*============================== navbar ======================================*/
.nav-fix {
    position: fixed;
    width: 100%;
    background-color: #d0e9d0;
    top: 0%;
    z-index: 999 !important;
    left: -100%;
    transition: all 300ms linear;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.show-nav {
    position: fixed;
    width: 100%;
    background-color: #d0e9d0;
    top: 0;
    left: 0;
    z-index: 999 !important;
    transition: all 300ms linear;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-fix ul {
    flex-direction: column;
    gap: 24px;
}

.show-nav ul {
    flex-direction: column;
    gap: 24px;
}

/*=================================== shadows ================================*/
.video_card {
    box-shadow: 8px 8px 48px 0px #00000029;
}

.input_card {
    box-shadow: 4px 4px 16px 0px #00000029;
}

.vacationcard_shadow {
    box-shadow: 4.139534950256348px 4.139534950256348px 16.55813980102539px 0px #00000029;
}

/*=============================== icon-fill ================================*/
.footer_icons svg rect {
    fill: #359F35;
}

.footer_icons svg path {
    fill: white;
}

.footer_icons svg:hover path {
    fill: #359F35;
    transition: all 300ms linear;
}

.footer_icons svg rect:hover {
    fill: #fff;
}

/*=============================== slider-class ==============================*/
.swiper-pagination {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #9acf9a;
    opacity: 1;
    margin: 0 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #35a035;
    transform: scale(1.7);
}

.swiper-slide-active .card {
    background-color: #359F35;
    color: white;
    border: #359F35;
}

.swiper-slide-active .tikkmark rect {
    fill: white;
}

.swiper-slide-active .tikkmark path {
    stroke: #359F35;
}

.swiper-slide-active .link path {
    fill: #fff;
}

::placeholder {
    color: #4d4d4d !important;
}

:focus-visible {
    outline: none !important;
}

/*============================== faq-class ===============================*/
.input_card.active {
    background-color: #359F35;
}

.active .text-color {
    color: white;
}

.active .text-color1 {
    color: white;
    font-weight: 500;
}

.active .svg-color path {
    stroke: white;
}

.nav_link:hover {
    -webkit-text-stroke: 0.8px;
}

.arrows rect:hover {
    fill: #359F35;
}

/*=================== select =============================*/
.custom_select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('./assets/Image/png/Selectarrow.png');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: right center;
}

.vacation_card:hover .img {
    scale: 1.1;
    transition: all 300ms linear;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0px !important;
}

/* =============Animation================== */
.left_vector {
    animation: left_vector 4s ease-in-out infinite;
}

@keyframes left_vector {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.right_vector {
    animation: right_vector 4s linear infinite;
}

@keyframes right_vector {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/*============================ media-quaries ============================*/
@media (min-width:1441px) {
    .mt_0 {
        margin-top: 0px !important;
    }
}

@media (min-width:1921px) {
    .min_h_screen {
        min-height: 100vh;
    }
}

@media (min-width: 1281px) {
    .swiper-pagination {
        display: none !important;
    }
}