@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.ff_kanit {
    font-family: "kanit";
}

.ff_Jost {
    font-family: "Jost";
}

.header_bg {
    background: url(/src/assets/Image/webp/header_bg.webp);
}

.backdrop {
    backdrop-filter: blur(10px);
}

/* navbar */
.nav-fix {
    position: fixed;
    width: 100%;
    background-color: skyblue;
    top: 0%;
    z-index: 999 !important;
    left: -100%;
    transition: all 500ms linear;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.show-nav {
    position: fixed;
    width: 100%;
    background-color: skyblue;
    top: 0;
    left: 0;
    z-index: 999 !important;
    transition: all 500ms linear;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-fix ul {
    flex-direction: column;
    gap: 24px;
}

.show-nav ul {
    flex-direction: column;
    gap: 24px;
}

.video_card {
    box-shadow: 8px 8px 48px 0px #00000029;
}

.input_card {
    box-shadow: 4px 4px 16px 0px #00000029;
}

.vacationcard_shadow {
    box-shadow: 4.139534950256348px 4.139534950256348px 16.55813980102539px 0px #00000029;
}

.footer_icons svg rect {
    fill: #359F35;
}

.footer_icons svg path {
    fill: white;
}

.footer_icons svg:hover path {
    fill: #359F35;
    transition: all 300ms linear;
}

.footer_icons svg rect:hover {
    fill: #fff;
}

@media (min-width:1921px) {
    .min_h_screen {
        min-height: 100vh;
    }
}

.slick-dots li button:before {
    font-size: 12px !important;
    opacity: 1 !important;
    color: #9acf9a !important;
    scale: 1;
}

.slick-dots li.slick-active button::before {
    scale: 1.7;
    opacity: 1 !important;
    color: #35A035 !important;

}

.slick-current .card {
    background-color: #359F35;
    color: white;
    border: #359F35;
}

.slick-current .card .tikkmark rect {
    fill: white;
}

.slick-current .card .tikkmark path {
    stroke: #359F35;
}

.slick-current .card .link path {
    fill: #fff;
}

::placeholder {
    color: #4d4d4d !important;
}

:focus-visible {
    outline: none !important;
}


.input_card.active {
    background-color: #359F35;
}

.active .text-color {
    color: white;
}

.active .text-color1 {
    color: white;
    font-weight: 500;
}

.active .svg-color path {
    stroke: white;
}